pyyaml
tqdm
attrdict
h5py
numpy<=1.26.4
scipy
matplotlib
seaborn
brewer2mpl
tensorboard
tensorboardX
opencv-python
opencv-contrib-python
scikit-learn
scikit-image
shapely
jupyter
bresenham
pyvista
omegaconf
rtree
plyfile
pathlib
open3d==0.18.0
imagesize
einops
ninja
yacs
python-json-logger

pytlsd@git+https://github.com/iago-suarez/pytlsd.git@4180ab8
deeplsd@git+https://github.com/cvg/DeepLSD.git@88c589d
gluestick@git+https://github.com/cvg/GlueStick.git@7d81673
-e git+https://github.com/B1ueber2y/Hierarchical-Localization.git@dfe106a#egg=hloc
